<div>
    <div class="col-md-2 col-md-offset-1 well-lg">
        <div class="row">
            <input type="button" value="Cookies" class="btn btn-lg btn-info well-lg">
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <input type="button" value="Milk" class="btn btn-lg btn-info well-lg">
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <input type="button" value="Order" class="btn btn-lg btn-info well-lg">
        </div>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <ul class="list-unstyled">
            <li class="well">
                <h3 class="media-heading">Chocolate Chip Cookies</h3>
                <p>Soft-baked cookies with milk chocolate chips!</p>
                <label class="label label-default">Quantity:</label><input type="number" name="qty" value="1" class="input-sm" />
                <input type="button" class="btn btn-xs btn-info" value="Add To Cart!" />
            </li>
            <li class="well">
                <h3 class="media-heading">Peanut Butter Cookies</h3>
                <p>Chewy peanut butter batter baked to prefection!</p>
                <label class="label label-default">Quantity:</label><input type="number" name="qty" value="1" class="input-sm" />
                <input type="button" class="btn btn-xs btn-info" value="Add To Cart!" />
            </li>
            <li class="well">
                <h3 class="media-heading">M&M Chocolate Chip</h3>
                <p>Bought from Subway just last week!</p>
                <label class="label label-default">Quantity:</label><input type="number" name="qty" value="1" class="input-sm"/>
                <input type="button" class="btn btn-xs btn-info" value="Add To Cart!" />
            </li>
        </ul>
    </div>
</div>



@section cookieStoreScripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script>

    </script>
}