<div ng-app="cookieStoreApp">
    <nav>
        <ul class="nav nav-tabs">
            <li><a href="#/cart">Home</a></li>
            <li><a href="#/cart">Cart</a></li>
        </ul>
    </nav>
</div>



@section cookieStoreScripts {
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui-router.js"></script>
<script src="~/Scripts/toastr.js"></script>
    <script>
        (function () {
            return "<h1>This works!</h1>";
        })();
    </script>
}