<div>
    <div class="col-md-2 col-md-offset-1 well-lg" ng-controller="buttonsController">
        <div ng-repeat="button in buttonNames">
            <div class="row">
                <a ng-href="#/store/{{ button | lowercase }}">
                    <input type="button" value="{{button}}" class="btn btn-lg btn-info well-lg" />
                </a>
            </div>
            <div class="row">
                &nbsp;
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>

@section cookieStoreScripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/apps/cookieStore/app.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/apps/cookieStore/services/talkyTalkyService.js"></script>
    <script src="~/apps/cookieStore/controllers/allProductsController.js"></script>
    <script src="~/apps/cookieStore/controllers/buttonsController.js"></script>
    <script src="~/apps/cookieStore/controllers/cookieController.js"></script>
    <script src="~/apps/cookieStore/controllers/milkController.js"></script>
    <script src="~/apps/cookieStore/controllers/orderController.js"></script>
}

